[2020-04-16 17:04] MrWeit opened #1 "on functions not working"
Hi,
when i try to use the on functions like the onPlaying function it doesn't work, im streming a rtsp video.
Thanks

[2020-04-16 19:16] sayem314 commented on #1
Yes exactly. None of these actually work.

[code]

[2020-04-17 22:13] razorRun commented on #1
Hey Guys
I am bit packed these days, Can anyone update the android vlc kit ?

[2020-04-18 07:34] ammarahm-ed commented on #1
@razorRun I will update vlc version and send a pull request.

[2020-04-18 09:30] ammarahm-ed commented on #1
Also the implementation for events on android is different than that on `ios` which should be corrected. Events are called but all events come through a single event `onVideoStateChange` which is absurd because the JS side does not implement it.

[2020-04-18 14:00] razorRun commented on #1
@ammarahm-ed  thanks mate.  Note that I already have updated IOS side (use 3.3.10). Also no need to to do the react link as done the pod spec.

[2020-04-18 20:30] ammarahm-ed commented on #1
@razorRun  yes that is better.

[2020-04-19 01:54] razorRun commented on #1
@ammarahm-ed  invited you as a contributor.
❤️👏 for your PR

BTW on the PR, does it build without an issue? I am having a bit of trouble on that on [this](https://github.com/razorRun/react-native-vlc-media-player-test) source(RN 61.0.5). could you test when you get a second? Our idea was to keep the repo so simple, people can use it with RN newer versions without any additional config.

[2020-04-20 03:53] ammarahm-ed commented on #1
Yes it builds normally. I have tested it in your example app before sending the pull-request. @razorRun

[2020-04-20 07:49] sayem314 commented on #1
I have hard forked the original yz-vlc-player and added some stuff from this one. My fork uses VLC 3.2.6 and all of this work as well:

[code]

Btw the reason I have forked is to be able to use it on Lunarr app with `react-native-video` like props.

[2020-04-20 07:57] razorRun commented on #1
💪 Do you mind merging it ?

On Mon, 20 Apr 2020 at 7:49 PM, Sayem Chowdhury <notifications@github.com>
wrote:

[2020-04-20 08:02] sayem314 commented on #1
Well, it can't be merged directly, there are huge differences between this and lunarr-vlc-player. And you will lose the player view as well. The best option would be to merge manually those files one by one here.

[2020-04-22 06:15] ammarahm-ed commented on #1
@razorRun I will fix the event system on android in a couple of days and send a pull request.

@sayem314 is AspectRatio working? something like resizeMode in react-native-video?

[2020-04-22 06:34] razorRun commented on #1
@ammarahm-ed Thanks, Mate. Feel free to merge it as well. You should have access rights

[2020-04-22 07:18] sayem314 commented on #1
Yes, changing aspect ratio should work. Make sure you are dividing it by colon (:) and it's a string.

Example:
[code]

And resizeMode is not available.

[2020-04-22 08:21] ammarahm-ed commented on #1
@sayem314  I think that the aspectRatio prop is absurd and should not exist. The aspectRatio of the video should be calculated automatically and should be correct always. Also there should be something like resizeMode as it is in react-native-video instead which will be very useful. I have implemented it in my react-native-ijkvideo component on android. I think its not that difficult to do.

[2020-04-22 08:59] sayem314 commented on #1
Yes, you are right about that but I kept as it was on the `yz-vlc` and it was just a hard fork. I didn't care to remove it since I don't even use it but yes will remove it in future version and will try to add `resizeMode` props. BTW aspect ratio is currently calculated automatically.

[2020-04-22 10:10] ammarahm-ed commented on #1
lets see if we can implement resizeMode here.

[2020-04-25 09:48] RupamShaw opened #3 "zoom on focus support"
is it possible to use react-native-gesture-handler to zoom video using this library. example please.I Used  react-native-nodemediaclient its working perfectly for rtmp but zoom functionality not supported. looking for new rtmp support library for it.

[2020-04-25 22:18] MrWeit commented on #1
Well i think the problem is fixed thx guys

[2020-04-25 22:18] #1 closed

[2020-04-27 10:10] grosbedos opened #4 "Fullscreen"
Hi,

I wanted to know how do you get the player to go full screen?
At the moment my video is played in thumbnail, and I would like to play it in full screen after a user intervention (press a button for example).

I haven't found a method to do this.
If you can help me ;)

Best regards

[2020-04-28 07:57] shadow-engie opened #5 "loading end event"
Hi there

Could you please add **onLoadEnd** event to the library? It would be preally awesome ^_^

[2020-05-02 13:46] ammarahm-ed commented on #3
@RupamShaw use something like https://www.npmjs.com/package/react-native-pinch-zoom-view for this purpose.

[2020-05-07 11:28] marf opened #7 "Support equalizer"
Hello, great package!
Is there support for an equalizer both on Android and iOS for this package?

[2020-05-08 04:44] Michael24884 opened #8 "Header support"
As the title suggests, are there any possibility to add custom headers, I need to include a referrer header in some requests

[2020-05-08 04:47] razorRun commented on #8
We can certainly look into this.

Please do an initial PR maybe. Then we can work with you on it?

On Fri, 8 May 2020 at 4:44 PM, Michael24884 <notifications@github.com>
wrote:

[2020-05-09 23:01] ammarahm-ed commented on #7
@marf currently there is no support for equalizer

[2020-05-13 10:20] HorbachAndrii opened #9 "How to playback video file Cache on ios ?"
I loading file

[code]
and after paste path to uri
[code]

[2020-05-13 13:25] HorbachAndrii commented on #9
if add text `file://` to state.uri it`s resolved my problem
<VLCPlayer
    ref={(ref) => {
        this.vlcPlayer = ref
    }}
    style={{width: '100%', height: 200}}
    videoAspectRatio="16:9"
    source={{
        uri: `file://${this.state.uri}`
    }}
/>

[2020-05-13 13:25] #9 closed

[2020-05-27 23:49] #7 closed

[2020-05-29 10:41] ammoradi commented on #4
any news on this?

[2020-05-30 12:42] batuhansahan opened #10 "how to change volume dynamically only for video"
i want to change the volume only for video not device volume. is it possible.

[2020-05-30 23:54] #10 closed

[2020-06-02 12:20] omerdn1 commented on #4
@razorRun Any chance you can jump in on this?

[2020-06-02 16:45] amerllica opened #11 "Issue on showing MKV on Android"
This awesome library doesn't show the MKV format on **Android**, it is ok with **iOS**, I logged the error on android and it is:

<img width="526" alt="Screen Shot 2020-06-02 at 9 14 58 PM" src="https://user-images.githubusercontent.com/10472437/83546576-1fd2e580-a516-11ea-96f4-94edd81699e8.png">

I have no idea how to deal with it.

This is my `android/build.gradle`:

[code]

[2020-06-02 20:53] razorRun commented on #11
Hey
Can you try using vlc player? If that works we might have to upgrade to
that vlc sdk. At the moment we are using 3.1 on android and 3.3 on iOS.

Cheers

On Wed, 3 Jun 2020 at 4:46 AM, Amer Lotfi Orimi <notifications@github.com>
wrote:

[2020-06-03 11:13] amerllica commented on #11
Sure, I will try it and will write the result here.

[2020-06-06 06:05] amerllica commented on #11
Dear @razorRun, I test **mkv** and **mkv x265** format and both of them work on Android VLC. one thing I forgot to say. I run a local apache server and put that two files in the root of `htdocs` so I want to play these URLs: `http://localhost:8888/1.mkv` and `http://localhost:8888/2.mkv`.

On iOS, there is no problem but for Android, the `react-native-vlc-media-player` doesn't work.

[2020-06-06 12:03] amerllica opened #12 "Sample has issues on running both iOS and Android"
Please take a look at the [test](https://github.com/razorRun/react-native-vlc-media-player-test). I couldn't run both iOS and Android. even for development.

[2020-06-06 14:00] amerllica opened #13 "How I can mute a playing video?"
On the `react-native-video` it could be used by a `ref` and with using the `ref` we can stop/start/resume or seek the time-lapse of video. even we can use the ref to control the volume or mute.

But in this repo, there is no control over the sound. even I'm worried about the subtitle, both soft-sub or link-sub. How I can deal with them on this package?

[2020-06-10 02:21] ZHEQIUSHUI opened #14 "ios:unrecognized font family 'material design icon',and android icon"
<img width="794" alt="截屏2020-06-10 上午10 16 08" src="https://user-images.githubusercontent.com/46700201/84219636-8ef69e00-ab03-11ea-845d-e786fe7891c7.png">

I have search this problem in google,but i can`t solve it.did you have meet this problem?and how can i fix it.thx so much

[2020-06-10 02:24] ZHEQIUSHUI commented on #14
https://stackoverflow.com/questions/48601206/error-unrecognized-font-family-material-design-icons-after-installing-react-nat

it doesn`t work

[2020-06-10 02:59] ZHEQIUSHUI commented on #14
and i have try
[code]
it doesn`t work....how can i change url when i need

thank you so much
<img width="830" alt="截屏2020-06-10 上午10 58 24" src="https://user-images.githubusercontent.com/46700201/84222093-578af000-ab09-11ea-9752-a6a5de49e1c6.png">

[2020-06-10 03:01] ZHEQIUSHUI commented on #14
i use VlCPlayerView

[2020-06-10 05:08] ZHEQIUSHUI commented on #14
i have fix this,but i can`t  change url

[2020-06-10 08:11] amerllica commented on #14
I don't know why it happens to your project, but you should install `react-native-vector-icons`.

[2020-06-11 02:09] ZHEQIUSHUI commented on #14
yes,i have fixed this.
now i want to know,
how can i change url and play?
i just a tyro in javascript...for 3 days
thank you for your reply!

[2020-06-11 02:14] razorRun commented on #14
You can change the URL using propos, then reload the view

On Thu, 11 Jun 2020 at 2:09 PM, Arno <notifications@github.com> wrote:

[2020-06-11 06:03] amerllica commented on #14
Dear @razorRun, please do not answer this kind of questions, let him try to learn from docs, or ask on Stack Overflow. then they will learn better, If I was in your place definitely I close this issue.

[2020-06-13 06:35] amerllica commented on #13
I should use a separate package [link this package](https://github.com/rtmalone/react-native-volume-control) to control the volume. using native side functions was a better solution, but because of the neglect of author, this is the best solution.

[2020-06-13 06:35] #13 closed

[2020-06-13 06:36] amerllica commented on #12
There is no answer from @razorRun, I decided to close my issue.

[2020-06-13 06:36] #12 closed

[2020-06-13 06:39] amerllica opened #15 "How can I control subtitle."
I'm worried about the subtitle, both soft-sub or link-sub. How I can deal with them on this package?

[2020-06-13 14:23] amerllica opened #16 "The onProgress callback on Android"
The `onProgress` callback doesn't work on Android.

[2020-06-14 09:23] amerllica commented on #16
By reading [this file](https://github.com/razorRun/react-native-vlc-media-player/blob/master/android/src/main/java/com/yuanzhou/vlc/vlcplayer/ReactVlcPlayerView.java) I realized that the `mProgressUpdateRunnable` doesn't work, or maybe is not used anywhere and because of this, the `onProgress` doesn't work on the **Android** side.

[2020-06-14 10:04] amerllica opened #17 "Inconsistent passes object for onPlaying"
It is so weird, I put the `(e) => console.log(e)` function for **onPlaying** callback function. and I got the following objects for **Android** and **iOS** platform:

 - **Android**:
[code]

 - **iOS**:
[code]

Why it is like that?

[2020-06-15 11:05] amerllica commented on #4
Dear @grosbedos, @ammoradi, @omerdn1

Do not use `VlCPlayerView`, it's a simple wrapper to the `VLCPlayer`. I just use `VLCPlayer` and implement my UI. please see the `VlCPlayerView` source codes. It's very very simple and If I was in @razorRun place definitely I would delete the `VlCPlayerView`.

Dear @grosbedos, please close this issue. The @razorRun is on vacation.

[2020-06-15 11:47] amerllica commented on #5
Dear @shadow-engie, in **Android** you can use `onBuffering` callback and get the `bufferRate` from the passed object:

[code]

When it reaches the **`100`** then you can be sure it is end of loading.

But still on **iOS** for `onBuffering` and `onPlaying`, it passes just a `{target: number}`. And I don't know why so I left an [issue](https://github.com/razorRun/react-native-vlc-media-player/issue

[2020-06-16 02:26] ZHEQIUSHUI commented on #14
i am so sorry.thank you for your help,i have fixed that.
i just learn rn for a few days.forgive me plz.

[2020-06-16 02:26] #14 closed

[2020-06-25 07:17] vanhungoz opened #18 "Vlc crash in ios 12.x.x"
Hi, thank you for your great work.
when i test, i realize that Library make crash on ios 12.x.x, but it work fine on ios 13.x.x
react-native version : both 0.62.1 and 0.62.2

[2020-06-26 04:37] vanhungoz commented on #18
closed because of https://code.videolan.org/videolan/VLCKit/-/issues/335#

[2020-06-26 04:37] #18 closed

[2020-06-30 08:53] ammoradi commented on #4
@amerllica hey Amer nice to meet you here.
could you suggest a replacement for this lib?

[2020-06-30 11:18] amerllica commented on #4
@ammoradi, This library is awesome, the best way to have a rich Video player is to have `vlckit` for play videos not using `AVFoundation` like damn `react-native-video`. Just because of this reason this library is awesome.

But some native-side functionalities have issues and I didn't find a better library for my desire than this current. in a new feature, I wanna finish a complete-featured Video

[2020-06-30 16:09] ammoradi commented on #4
@amerllica thank you. I will continue using this lib then.

[2020-07-02 12:36] RomanBorysenko opened #19 ""RCTVLCPlayer" was not found in the UIManager"
Hello!

I need help...

I try to play an rtsp feed on android and have an issue:
<img width="297" alt="Screenshot 2020-07-02 at 15 16 02" src="https://user-images.githubusercontent.com/25172102/86359474-b6abd280-bc79-11ea-93fa-e83813f72ca1.png">

[2020-07-04 14:04] Shabnam-Veranloo commented on #11
same issue

[2020-07-04 18:26] amerllica commented on #11
Dear @Shabnam-Veranloo, please wait a while, I'm working on native side of this library and as soon as possible I will release a new react native video player with many features. I will migrate it to `iran-react-community` and then we all can work on it to improve it.

[2020-07-05 05:01] Shabnam-Veranloo commented on #11
thank you  @amerllica ,that's great

[2020-07-06 09:46] vanhungoz opened #20 "how to replay the video?"
it is possible to replay the video?

[2020-07-06 09:47] vanhungoz commented on #20
i use resume or seek functions, but it did not work

[2020-07-06 10:28] vanhungoz commented on #20
currently, i use "key" property to replay video. it is just a trick.

[2020-07-14 07:30] razorRun commented on #16
this issue should be fixed thanks to [vokhuyetOz ](https://github.com/razorRun/react-native-vlc-media-player/pull/21)

[2020-07-14 07:30] #16 closed

[2020-07-14 07:30] vokhuyetOz commented on #20
maybe we have to reimplement onEnd function in native code

[2020-07-14 07:33] razorRun commented on #20
Yah. Most of the triggers on android need a bit of a touch. If you get a chance please have a look. Because I am bit tide up these days. Feel free to give a shout if you need a hand

[2020-07-14 07:36] razorRun commented on #19
Whats the version of RN you are working on?. did you try cloning my example?

[2020-07-14 07:40] #3 closed

[2020-07-14 07:40] #4 closed

[2020-07-14 07:41] razorRun commented on #19
Also, try without the wrapper [check this issue](https://github.com/razorRun/react-native-vlc-media-player/issues/4)

[2020-07-14 07:41] #19 closed

[2020-07-14 07:51] vokhuyetOz commented on #16
@amerllica if you still face this issue, feel free to give your feedback.

[2020-07-14 07:54] vokhuyetOz commented on #20
ah, @vanhungoz  is another my GitHub account. i think i will close it at that time, i will come back with it when i have time.

[2020-07-14 07:55] #20 closed

[2020-07-16 07:57] holengocson opened #22 "[Pod Install]"
I cant install with Pod Install. It takes very long time and nothing happened.
Have you met this case before ?

[2020-08-05 09:55] razorRun commented on #22
Nope, It normally just works. have you tried the test project?

[2020-08-05 09:55] #22 closed

[2020-08-07 11:29] Shashank2406 commented on #15
+1

[2020-08-07 11:31] Shashank2406 opened #25 "How to get multi audio ?"
I want to play 4k mkv file which runs fine, but can we control different audio ?

[2020-08-08 17:23] amerllica commented on #15
Dear @Shashank2406, please do not worry, I'm writing a new player based on VLC docs for both `iOS` and `Android` operating systems. this will be based on new technologies. just wait a while.

[2020-08-21 05:08] mobile-simformsolutions commented on #22
same !!
it freeze when podinstall and nothing happens
any help  ?

[2020-08-21 06:02] razorRun commented on #22
Can you try downgrading the version and let me know?

On Fri, 21 Aug 2020 at 5:08 PM, mobile-simformsolutions <
notifications@github.com> wrote:

[2020-08-25 07:59] squallcs12 opened #26 "Bulding android missing vlcjni library"
Hi,

When I try to build release version, I got this issue

E/VLC/LibVLC: Can't load vlcjni library: java.lang.UnsatisfiedLinkError: JNI_ERR returned from JNI_OnLoad in "/data/app/com.eohjsc.eohmobile-pbXEfDFlJeKsdysX8qx0PQ==/lib/arm64/libvlcjni.so"

What should I do to overcome this issue?

[2020-08-25 21:18] razorRun commented on #26
Can you please downgrade to 1.0.17 and let me know?

Because I do have several apps using that version and works fine for me

On Tue, 25 Aug 2020 at 7:59 PM, Bang Dao <notifications@github.com> wrote:

[2020-08-25 21:28] razorRun commented on #25
Well you can stream after fusing the video and audio you want ?

[2020-08-25 21:29] razorRun commented on #25
Closing this issue as this is not a bug

[2020-08-25 21:29] #25 closed

[2020-08-28 03:28] chaiyaphat12079 opened #27 "Erorr when npm i react-native-vlc-media-player --save"
* What went wrong:
Execution failed for task ':app:processDebugManifest'.

        Suggestion: use a compatible library with a minSdk of at most 16,
                or increase this project's minSdk version to at least 17,
                or use tools:overrideLibrary="com.yuanzhou.vlc" to force usage (may lead to runtime failures)

* Try:
Run with --stacktrace option to get the stack trace. Run wi

[2020-08-28 07:07] razorRun commented on #27
You will have to increase the minSdk in the manifest. It might ask you to update android shared lib files. Have tried using the test repo I have setup.

[2020-08-28 07:07] #27 closed

[2020-08-30 23:28] #26 closed

[2020-09-09 19:16] tanujttn opened #28 "How i will give support for subtiles and muti-audio??"

[2020-09-25 10:10] rehamkhawaja opened #29 "Any idea how to change aspect ratio to 9:16 which is the vertical video we view on our phones."

[2020-10-01 08:03] mechazod opened #30 "Need help to support iOS PH Asset for video source?"
##### Issue
- Here's the sample video URL that is imported `ph://FE63286E-D87D-4D2F-94A2-0BC170A55F84/L0/001` on preview player. Before I upload the video to cloud, I need to have a preview player.

[2020-10-02 04:00] mechazod commented on #30
Closing this ticket now due update our picker to expose the url asset.

[2020-10-02 04:00] #30 closed

[2020-10-06 21:22] atwalg2 opened #31 "[Request] Add support for react-native-windows"
Embedding VLC in react-native-windows would be amazing.

I understand that this may too difficult, but can't hurt to ask.

[2020-10-07 18:08] LucasMonteiro1 opened #32 "Xcode 12 error build"
The same problem reported on https://code.videolan.org/videolan/VLCKit/-/issues/420

[2020-10-07 23:51] #32 closed

[2020-10-07 23:56] razorRun commented on #29
You can give aspect ratios on VLC sdk. We might have to update the SDK version to the latest VLC sdk. can you please have play changing the SDK numbers? let us know.

[2020-10-07 23:59] razorRun commented on #31
I am a bit packed at the moment, yeh but we should certainly give a try. We do have the player window in here, maybe we can leverage on that and get it working. I will make you a contributor if you are happy to put some hours on to this. I will lend you a hand whenever I get a minute

[2020-10-07 23:59] #28 closed

[2020-10-11 09:33] swayamsiddhadutta opened #34 "How to use seek & resume functions?"
VLC media player seemed like a suitable choice for a video player for me considering longer load times for react-native-video for some files.
However, I could not seem to work out how to seek to a particular position in the video.
Would be a great help if this issue is resolved.

[2020-10-11 13:07] edison-fe-html opened #35 "The 'Pods-vlcTest' target has frameworks with conflicting names: mobilevlckit.framework."
This error occurred when I executed pod install when I was running the sample project
The 'Pods-vlcTest' target has frameworks with conflicting names: mobilevlckit.framework.

[2020-10-11 17:37] razorRun commented on #35
Can you please try a changing the version number to a version back. Because
I merged someone else’s pull request without testing it

On Mon, 12 Oct 2020 at 2:07 AM, edison-fe-html <notifications@github.com>
wrote:

[2020-10-11 21:16] amerllica commented on #17
@razorRun, Did you see this issue yet?

[2020-10-12 02:34] edison-fe-html commented on #35
I tried to create a new project and execute it according to the readme but got this error：
Unable to resolve module `@react-native-community/toolbar-android` from `node_modules/react-native-vector-icons/lib/toolbar-android.js`: @react-native-community/toolbar-android could not be found within the project.

[2020-10-12 02:38] edison-fe-html commented on #35
How did you use it in version 0.61.5. Could you please elaborate on how to install and use it in an existing project? Thank you very much.

[2020-10-12 02:47] edison-fe-html commented on #35
<img width="1403" alt="截屏2020-10-12 上午9 46 11" src="https://user-images.githubusercontent.com/71269406/95699881-cae76e80-0c6f-11eb-99ab-2b0aa9a424f1.png">

[2020-10-20 13:51] linhtc commented on #5
Any news?!

[2020-10-21 07:25] amerllica commented on #5
Unfortunately, @razorRun does not attend to his contributors.

[2020-10-21 21:43] razorRun commented on #35
What is RN version you are on?

[2020-10-21 21:44] #29 closed

[2020-10-23 08:38] johnlanz opened #36 "not working on react native 0.63"
its working fine on react native 0.61.5 but its not working on latest react 0.63.3

[2020-10-24 01:52] jaaphou opened #37 "rtmp is not suerport?"
目前接入rtmp格式的直播流，没有任何反应

[2020-10-26 06:59] linhtc commented on #11
@ammarahm-ed Many many thank!

[2020-10-26 11:23] razorRun commented on #11
BTW I am more than happy to make you a contributor/admin of this repo if
you are interested to maintain it. I am tide up these days with my other
work so I won’t be able to attend to it as much as I like to.

On Mon, 26 Oct 2020 at 7:59 PM, TCL <notifications@github.com> wrote:

[2020-10-28 13:34] devnullpointer commented on #36
Same here. Removed react-native-video and added vlc-media-player not getting this when I build.

Log:

[2020-10-28 14:14] edison-fe-html commented on #35
0.61.5

[2020-10-29 09:18] razorRun commented on #36
I am working on it. Should be able to release by the end of next week.

On Thu, 29 Oct 2020 at 2:34 AM, Bill Kyriakakis <notifications@github.com>
wrote:

[2020-10-29 21:44] Michael24884 opened #38 "Init Options"
I wanted to help out adding initWithOptions but as I was looking through the project I noticed it was added but commented out. Is there a reason for it? This would help with the referer header as well. Thank you

[2020-10-29 21:44] #8 closed

[2020-10-29 21:50] razorRun commented on #38
I think I had a issue with an older version and ended up commenting that
and forgot 😕. You should be ok to use it now. If you have the repo set up
have a quick test if it’s working send a PR.

Cheers
Rosh

On Fri, 30 Oct 2020 at 10:44 AM, Michael24884 <notifications@github.com>
wrote:

[2020-10-30 05:40] Michael24884 commented on #38
Alright so I've gotten initOptions and initType set up(for iOS don't know if it's possible for Android yet). However using the option --http-referer crashes the application. Is this a bug presented by the newer MobileVLC package? Since it's a video option the only way I see it can be added is through the options param

[2020-11-03 22:22] mechazod commented on #35
Same issue right now using `XCode 12.1`, rn0.61.5, rn-vlc1.0.27 @razorRun

[2020-11-03 22:27] mechazod opened #39 "XCode 12.1 Not working on Simulator x86_64"
I'm using XCode 12.1, rn0.61.5, rn-vlc1.0.27
[code]

[2020-11-04 08:29] shockwave13 opened #40 "The prop 'paused' not working."
Hi. The prop 'paused' does not working. The video always plays automatically and cannot be paused and resumed.
"react-native": "0.63.3"
"react-native-vlc-media-player": "^1.0.28"

Hope you will fix it in next release https://github.com/razorRun/react-native-vlc-media-player/issues/36#issuecomment-718525349 if this issue is related to version "0.63.3".

[2020-11-06 03:58] shrynshjn opened #41 "Not able to stream RTSP"
I am trying to live stream using RTSP, the url is wokring fine in the actual media player but it just shows a black screen when trying to stream it using VLCPlayer

[2020-11-06 08:33] zaptrem opened #42 "iOS: EXC_BAD_ACCESS When Loading Video"
I'm loading a .mov video from a web server using the following code:

[code]

When the component begins rendering, I get the following console output before the app crashes:
[code]

The error is in libsystem_platform.dylib`_platform_strlen:
"Thread 48: EXC_BAD_ACCESS (code=1, address=0x0)"

Tested on iOS 14.2 and 13.5. Xcode is 12.2. React Native is 0.62.2 .

[2020-11-06 19:34] Michael24884 commented on #42
You get this crash because you did not set a proper url. Notice the missing // after the https

[2020-11-06 19:36] zaptrem commented on #42
Thanks for responding, but the URL is correct in my app. I replaced it when pasting the error for privacy reasons with that dummy url (which is where the mistake was introduced).

[2020-11-06 21:44] Michael24884 commented on #42
Could you provide the error from the Xcode side? There should be a lot more

[2020-11-07 01:30] zaptrem commented on #42
Here's all I have: https://imgur.com/a/YASQqOe

[2020-11-09 04:38] 0strich opened #43 "how can i turn on only one audio?"
When playing multiple videos in the form of a slider, the sound is superimposed.
How do I turn on the audio for only the video at the top of the slider?

[2020-11-09 06:43] dalugoda opened #44 "1 duplicate symbol for architecture arm64 [ios]"
Getting the following error after installing.

ios/Pods/MobileVLCKit/MobileVLCKit.framework/MobileVLCKit(tools.c.o)
ld: 1 duplicate symbol for architecture arm64

"react-native" : "0.62.2"
"react-native-vlc-media-player": "1.0.28"

any solution?

[2020-11-09 20:45] zaptrem commented on #42
@Michael24884  is there some other log output you were looking for that could point us in the right direction?

[2020-11-09 23:44] Michael24884 commented on #42
Hey does this also occur for other URLs? You can try one of these public test links to see if it's just yours : [Public Test Links](https://gist.github.com/jsturgis/3b19447b304616f18657)

[2020-11-10 05:03] karanchaudhri commented on #36
@razorRun Any update on this?

[2020-11-10 10:12] Bickson opened #45 "Is it possible to change tempo(bpm)?"
Is it possible to change tempo(bpm) when playing a music file (ogg)?

[2020-11-11 09:10] #44 closed

[2020-11-11 20:02] zaptrem commented on #42
@Michael24884 Hardcoding the source to that seems to have gotten me a new error, which is progress, so thanks! However, I get no video and this log output:
[code]
Any idea what this could mean?

[2020-11-11 23:36] Michael24884 commented on #42
It's probably just the ffmpeg looking ahead into the video data. How are you laying out the component for the player? It might be due to the insufficient size

[2020-11-13 07:12] zaptrem commented on #42
That's it. I had to explicitly set the size. Sorry about that, and thanks for the assistance!

[2020-11-13 17:17] zaptrem commented on #4
Is there any way to go "real" full screen with VLCPlayer and activate the native control interface? Currently, full screen just takes up the entire containing component instead of actually filling the whole *screen*.

[2020-11-24 03:52] buyungb commented on #36
@razorRun Pardon me, any update for this issue. You are doing great work. Thanks

[2020-11-24 06:45] rahulsaps29 commented on #35
Go to node_modules -> react-native-svg -> ios -> utils -> RNSVGPathMeasure.m -> search for "distance" and replace all occurrences(total 6) with any other name like "kDistance".

This is only way you can fix this.

[2020-12-02 13:35] Bickson opened #46 "background"
is it possible to play in background?

[2020-12-02 19:14] MayanthaJ commented on #36
Please use this test repo https://github.com/razorRun/react-native-vlc-media-player-test
The package is working and tested on RN V0.63.4

[2020-12-02 19:14] #36 closed

[2020-12-02 19:16] razorRun commented on #39
It is working on couple of environments I tried. Xcode v12.2

[2020-12-02 19:16] #39 closed

[2020-12-08 12:40] rogerio-azevedo commented on #41
Still not work with RTSP, like DVR channel stream?

[2020-12-08 17:24] razorRun commented on #41
Well I use it day today basis to play from NVRs and cameras.

Did you try the test app?

On Wed, 9 Dec 2020 at 1:40 AM, Rogério Azevedo <notifications@github.com>
wrote:

[2020-12-08 21:34] rogerio-azevedo commented on #41
Hi razorRun thank you for your reply!!! No I didn't test it yet. I will and report you if it worked. Today, I have an App, and I get the IP Camera stream from a MPGEG secondary stream channel, but its not working good, because I'm using a WebView to render the stream :(

[2020-12-08 22:08] razorRun commented on #41
Yap

Cameras was the main reason for us to develop/maintain this plugin. We have
many users that use latest of this to stream RTSP

Cheers

On Wed, 9 Dec 2020 at 10:34 AM, Rogério Azevedo <notifications@github.com>
wrote:

[2020-12-09 02:20] rogerio-azevedo commented on #41
Hey **razorRun** I tried your rest app.

1) git clone
2) yarn
3) cd ios => pod install (it took 9 minutes to install)
4) cd..
5) replace you rtsp for my camera address
6) yarn ios

It woked like a charm!!!

Now, i will try to add it to my application! Do you intend to maintain this library, I suppose! Its the first lib I found to play RTSP stream with React-Native. Thank you!

[2020-12-09 02:23] razorRun commented on #41
Yap hoping to.

But a helping hand to sort out some of existing issues are much appreciated.

On Wed, 9 Dec 2020 at 3:20 PM, Rogério Azevedo <notifications@github.com>
wrote:

[2020-12-09 02:26] rogerio-azevedo commented on #41
Iam a newbie dev, but I will try to find someone to help out!

[2020-12-09 12:22] rogerio-azevedo commented on #41
RazorRun Morning!!! This issue could be closed I suppose. Add me as a collaborator, I will try help out with issues. Even if I can't fix it, I can interact with the devs

[2020-12-09 12:38] rogerio-azevedo opened #47 "Unable to resolve module `@react-native-community/toolbar-android`"
Error on new project, after import:

`import {VLCPlayer} from 'react-native-vlc-media-player'; `

Problem solved after:

`yarn add @react-native-community/toolbar-android`

Is this expected?

[2020-12-09 21:27] razorRun commented on #41
Will do, thanks!

On Thu, 10 Dec 2020 at 1:23 AM, Rogério Azevedo <notifications@github.com>
wrote:

[2020-12-09 22:01] rogerio-azevedo commented on #41
Look my app with camera working!

[](https://prnt.sc/vzbnjw)

[2020-12-10 14:21] tianlu1677 opened #48 "could smaller apk size, add all vlc ?"
I use this component, it run very well. Before my apk is about 30M， add this my apk is 90M. I only playing video, do not use advanced function.

[2020-12-16 03:59] #48 closed

[2020-12-16 06:20] shrynshjn commented on #41
I was able to get it working, after seeing the example I realized I have to pass certain options to RTSP to work.
Can we maybe kee[ default options according to the protocol in URL, and then if the user wishes to he can specify other options.
I am new in developing but I would like to work on this feature if it seems like something that can be/should be done.

[2020-12-16 06:20] #41 closed

[2020-12-17 01:13] jomiva opened #49 "I can't reproduce video from udp"
Is there an additional config to use udp protocol?

[2020-12-19 13:32] #49 closed

[2020-12-29 05:17] TayyabaAslam3317 opened #50 "iOS app crashes on re render VLCPlayer component in release mode"
iOS app crashes when vlc player component is rendered with a live video stream on http with mjpeg video type. But when I re render the same component for the same live video stream url, my iOS app is crashing. The same flow is working perfect for android and iOS debug mode apps.

[2020-12-29 05:41] razorRun commented on #50
Have you checked our testing app?

On Tue, 29 Dec 2020 at 6:17 PM, TayyabaAslam3317 <notifications@github.com>
wrote:

[2020-12-29 18:27] MBakhtiyor commented on #49
@jomiva Share please solution if you found.

[2021-01-01 06:37] TayyabaAslam3317 commented on #50
@razorRun app crashes when we render camera and vlc player at same time or when switching from vlc player (when stream is playing) to camera and then back to vlc player (at this point app crashes when playing just tries to start). I checked this for your testing app as well.

[2021-01-02 22:09] jomiva commented on #49
![image](https://user-images.githubusercontent.com/48603039/103467442-870f7d00-4d25-11eb-9245-839ba4c53ef9.png)
Your router needs to be capable to support IPTV, here's my config.

[2021-01-08 02:04] Prophetaa commented on #40
Hi @shockwave13, can you show a snippet of your VLCPlayer  component and its props?

[2021-01-08 02:08] MonsterCurry opened #52 "How to add subtitles?"
I'm streaming a .mp4 from a local server, I was wondering, how can I add subtitles? using <VLCPlayer />

[2021-01-08 02:58] leehave commented on #48
你好，你是怎么解决的

[2021-01-10 18:11] Prophetaa commented on #52
@razorRun ?

[2021-01-12 09:14] xralphack opened #53 "how to use bitcode when archive"
I did enable bitcode in my react-native root project, the following error show when I "archive" the ios part

ld: bitcode bundle could not be generated because 'xxx/ios/Pods/MobileVLCKit/MobileVLCKit.framework/MobileVLCKit(VLCEmbeddedDialogProvider.o)' was built without full bitcode. All object files and libraries for bitcode must be generated from Xcode Archive or Install build file 'xxx/ios/Pods

[2021-01-13 15:20] shrynshjn commented on #53
Hi, did you find a solution for this yet?
Having the same problem

[2021-01-13 20:42] razorRun commented on #53
From the memory it does not work when you turn on the bit coding

On Thu, 14 Jan 2021 at 4:21 AM, Shreyansh Jain <notifications@github.com>
wrote:

[2021-01-14 03:01] xralphack commented on #53
I just disabled bitcode...

[2021-01-14 14:55] pascal-mormin commented on #47
I have the same problem on Apple TV TvOs 14.3.

The solution provide by @rogerio-azevedo is a temporary one. I think we don't have to install @react-native-community/toolbar-android to run on Apple devices only.

[2021-01-14 15:31] rogerio-azevedo commented on #47
Hey @pascal-mormin I couldn't use in android, did you?

[2021-01-15 10:03] niennguyen commented on #26
Hi razorRun
when i upgraded to org.videolan.android:libvlc-all:3.3.10
i got same problem. Do you have any ideal to solve it?

Thank you

[2021-01-15 11:45] razorRun commented on #26
Could you try the test repo?

On Fri, 15 Jan 2021 at 11:03 PM, Nien Nguyen <notifications@github.com>
wrote:

[2021-01-19 07:00] niennguyen commented on #26
@razorRun

Yes, same problem on test repo, when i upgraded to org.videolan.android:libvlc-all:3.3.10 version.

[2021-01-21 11:05] TayyabaAslam3317 commented on #38
Are **initOptions** supported in Android? I want to add **--http-cert** and **--http-key** as I want to run a stream that uses self-assigned IP.

Thanks,

[2021-02-02 18:33] Zenyker commented on #15
@amerllica didi you finish the player, I don't know how to get the list of audio and subtitles from a mkv file.

[2021-02-02 18:35] Zenyker commented on #52
@razorRun how can I get a list of subtitles and audio from a mkv file?, and how to set it up,
in other libraries uses onLoad,

[2021-02-02 18:38] Zenyker opened #54 "How to switch between audio tracks?"
hi in description shows this.
Play MKV, multiple audio tracks (including 5.1), and subtitles tracks (including SSA!)
But how can I do that?

[2021-02-02 19:16] amerllica commented on #15
@Zenyker, Hi not yet, actually, I'm working on a big scale project, and the flow of writing a new player is stopped right now, the issue comes from time, If I work on it for two weeks full-time I can finish it for both iOS and Android side, but now just iOS is ready and also we didn't publish it.

[Current iOS](https://github.com/iran-react-community/react-native-ir-player/tree/init-vlckit-ios-swi

[2021-02-11 13:39] shironyaron opened #55 ""RCTVLCPlayer" was not found"
Hello,
I installed your library in my project and I keep getting this error:
ERROR    Invariant Violation: requireNativeComponent: "RCTVLCPlayer" was not found in the UIManager.
do you know how to solve it?
I'm using an android emulator

Thank you!

[2021-02-11 17:12] razorRun commented on #55
Please try downloading the sample repo first.

On Fri, 12 Feb 2021 at 2:39 AM, shironyaron <notifications@github.com>
wrote:

[2021-02-12 12:35] juliamsousa commented on #55
I used to have the same issue and managed to get it working following these steps:

i added this to my android/app/build.gradle

` packagingOptions {

    pickFirst 'lib/x86/libc++_shared.so'

    pickFirst 'lib/arm64-v8a/libc++_shared.so'

    pickFirst 'lib/x86_64/libc++_shared.so'

    pickFirst 'lib/armeabi-v7a/libc++_shared.so'
}`

also:

`defaultConfig {
...

    multiDexEnabled true //Add t

[2021-02-17 20:12] jomiva opened #56 "videos are not smooth"
I'm playing videos from an streaming url and looks laggy or dropping frames. I don't think it is internet because I'm playing them locally. is there a config that could help?

[2021-02-18 07:50] pavelustenko opened #57 "Does not play aac audio on android"
Does not play aac audio file on Android not from url, nor from local storage. On IOS plays like a charm.
On Android I get error
[code]

I use
<VLCPlayer
                        source={{ uri: filepath}}
                        onEnded={this.setEnd}
                        onVideoEnded={this.setEnd}
                        onProgress={this.setProgress}
                        onStopped={this.setEnd

[2021-02-20 22:59] grIskra commented on #34
I'm having trouble using seek(), too.
Same code: using react-native-video works, using react-native-vlc-media-player doesn't work anymore.
Isn't react-native-vlc-media-player mantained anymore?

[2021-02-24 06:53] HarishAppdeveloper commented on #20
can you give sample for replay

[2021-02-27 23:02] jomiva opened #59 "is it possible to stream m3u ?"
every time I tried to play a m3u files it closes the app, without any warning / error. this is what adb logcat says
![image](https://user-images.githubusercontent.com/48603039/109402707-57987d80-792e-11eb-9f83-299d3461dac3.png)

[2021-02-27 23:09] razorRun commented on #59
Does it work with native vlc ?

On Sun, 28 Feb 2021 at 12:03 PM, Jose Valera <notifications@github.com>
wrote:

[2021-02-27 23:12] jomiva commented on #59
Yes, It works with native VLC.

[2021-03-09 04:50] jonyhandoko commented on #52
@razorRun hai, I also want know can we add soft subtitle on this package?

[2021-03-09 04:55] razorRun commented on #52
Hey Guys

At the moment that’s not working. We need to pass the subs to the underline
vlc in the same way we pass other params. Someone will have to undertake
this as I am bit busy these days. Maybe create a bounty and someone with
help you quite quickly

Cheers
On Tue, 9 Mar 2021 at 5:50 PM, jonyhandoko <notifications@github.com> wrote:

[2021-03-09 11:58] SandeepKharbanda opened #60 "Is it possible to set allowsExternalPlayback value to true in VLCPlayer?"
I want to play an iOS video on my Apple TV device using Airplay. So, is it possible to set the **allowsExternalPlayback** value to **true**, which will allow the VLC player to switch to external playback mode?

Any suggestion would be a great help.

[2021-03-09 12:04] razorRun commented on #60
Hey

You will have to pass those to underline iOS and Android players. Please
take a look at how we have passed other params and you will have to
implement that part as I am bit busy at the moment. If you are not that
familiar maybe create bounty for that feature and someone will help you
out.

Cheers

On Wed, 10 Mar 2021 at 12:59 AM, Sandeep Kharbanda <notifications@github.com>
wrote:

[2021-03-09 23:41] diego-layerx opened #61 "Muted is not working"
Hi guys, I'm working on a project that is using this package to stream videos.

I'm trying to mute the video, but it isn't working.

Does someone has implemented that property and had luck on it?

Below is my component:

[code]

Thanks in advance!

Cheers

[2021-03-19 03:32] tugrul opened #62 "onLoad event with video size parameters"
Hi,

Is there a way to get video dimension onLoad event?

Something similar react-native-video library https://github.com/react-native-video/react-native-video#onload

[2021-03-19 08:57] razorRun commented on #62
Not at the moment I think. But check the vlc native packages. If they have
something you should be able to pass it along to RN.

On Fri, 19 Mar 2021 at 4:33 PM, Tuğrul Topuz ***@***.***>
wrote:

[2021-03-19 18:26] lule-steph opened #63 "Get aspect ratio"
Hi

To use your nice lib I need to get aspect ratio of the video.

Indeed if we don't know it how do you compute height of the component ?

Thank you

[2021-03-19 19:47] razorRun commented on #63
I see that can be a issue, buy usually the meta data should have most of
those info. Other thing is I usually just use the full available space and
set the ratio according to the space and play it in there regardless of
original aspect ratio. But I understand that won’t always be an option.
What I would suggest is investigate the vlc original lib and see if they
have an option if so update the lib

[2021-03-20 06:37] lule-steph commented on #63
Thank you for your answer!

Could you please provide some useful links for the vlc original lib so I can investigate in that direction.

If I find a solution it will be a pleasure to provide a PR !

[2021-03-31 07:21] gotedkid195 commented on #40
Hi guys, I'm working on a project that is using this package to stream videos.

I'm trying to pause=true the video, but it isn't working and video live stream not show. Thanks suposted
////////////////////////////////////////////////////////////////////////////////////
 const [paused, setPaused] = useState(true);
    <VLCPlayer
        paused={paused}
        onBuffering={onBuffer}
        autoAsp

[2021-04-14 19:37] DevineDecrypter commented on #15
@amerllica im checking ur profile every day hoping for the player to be finished

[2021-04-14 19:43] DevineDecrypter commented on #52
i want to load subtitles from a url , are there ways to do it ? or other packaged that are capable of doing this ?

[2021-04-14 20:20] razorRun commented on #52
It depends on the format, as I told you earlier if you want something
urgent create a bug bounty
https://www.bountysource.com/ someone will attend to it. I don’t see how I
can get to this for next couple of months.

Cheers

On Thu, 15 Apr 2021 at 7:44 AM, DevineDecrypter ***@***.***>
wrote:

[2021-04-14 20:21] #15 closed

[2021-04-14 23:13] amerllica commented on #15
@DevineDecrypter, I'm very busy with a large-scale project and for now, I cannot put time for it, but I will in three or four months later, do not check my profile, check [here](https://github.com/iran-react-community/react-native-ir-player/tree/init-vlckit-ios-swift). The iOS side is mostly finished, but about the Android side, we didn't even start it.

[2021-04-14 23:23] DevineDecrypter commented on #15
@amerllica ok , good luck on your project . Mamnoon :)

[2021-04-19 08:23] redefinered opened #65 "The Prop Volume is Not Working"
I tried 1 - 10 then 1 - 100 the volume does not change

library versions:
`react-native: 0.63.3`
`react-native-vlc-media-player: 1.0.30`

[2021-04-20 06:44] razorRun opened #66 "A MUST READ!!! New feature requests and bug fixes"
**New feature requests and bug fixes**
At the moment I am a bit tied up with other work. As a matter of fact, I don't get much time to develop at all nowadays. But I am more than open to help anyone who wants's to contribute to this repo. And I will be sure to merge any fixes as soon as PR's come up. But if you need someone to fix issues that affect you till I get back to this(ETA Q3 2022), One op

[2021-04-20 06:47] razorRun commented on #66
That been said,  if someone send PRs with fixes I will make sure they get merged immediately.

[2021-04-28 03:58] ericscottmarquez commented on #42
@zaptrem did you just set the resize mode to fix this error? I'm having a similar issue with a blank screen when loading the react native component inside a <View />

[2021-04-28 04:00] zaptrem commented on #42
I think I had to give it an explicit height and width pixel value. I switched back to Expo-AV months ago as we realized we had to do transcoding in the cloud anyway.

[2021-04-29 10:25] andy-io opened #67 "Playing HLS m3u8 links crash the app"
Hi,

i tried to play this link https://bitdash-a.akamaihd.net/content/MI201109210084_1/m3u8s/f08e80da-bf1d-4e3d-8899-f0f6155f6efa.m3u8

But it is crashing the app.
in the logcat i see the following:
04-29 11:55:22.702  4076 12646 F libc    : Fatal signal 6 (SIGABRT), code -6 (SI_TKILL) in tid 12646 (VlcObject), pid 4076 (m.myapp)
04-29 11:55:22.799 12657 12657 E DEBUG   : failed to readlink /proc/

[2021-05-02 18:45] juniortrials opened #68 "Xcode12 Linker Error"
hello all good, now Apple requires compiling apps on Xcode 12 and SDK 14 https://developer.apple.com/news/?id=ib31uj1j when upgrading to Xcode 12 this error occurred while compiling the app, is there any solution ? thank you so much
<img width="1177" alt="Screen Shot 2021-05-02 at 15 42 37" src="https://user-images.githubusercontent.com/7092489/116823868-5ddced00-ab5d-11eb-8033-98bbe4b8b86c.png">

[2021-05-08 06:38] alvarogeovani opened #69 "rtmp video freezes"
I am trying to display this video rtmp://stmv1.voxtvhd.com.br/armonytv/armonytv o rtsp: //stmv1.voxtvhd.com.br/armonytv/armonytv o  rtsp: //stmv1.voxtvhd.com.br/armonytv/armonytv
But after a minute the video freezes, what can it be?

[2021-05-12 05:59] redefinered commented on #67
hi @andy-io same here. have you found a fix on the issue?

[2021-05-12 18:13] andy-io commented on #67
@redefinered  : no i didnt manage to solve this issue.

If url has .m3u8 in it then use react-native-video library. this is my temporary solution

[2021-05-18 05:27] gHashTag opened #71 "The player does not work in background mode."
The player does not work in background mode.

`<VLCPlayer source={{ uri: PlayButtonStore.uri }} playInBackground /> `

<img width="647" alt="Снимок экрана 2021-05-18 в 10 26 54" src="https://user-images.githubusercontent.com/6774813/118594902-94ed0880-b7c3-11eb-93d9-cb664868e4d5.png">

[2021-05-24 16:32] geroale commented on #5
Same issue here

[2021-05-24 21:05] razorRun commented on #71
New feature requests and bug fixes
At the moment I am a bit tied up with other work. As a matter of fact, I don't get much time to develop at all nowadays. But I am more than open to help anyone who wants's to contribute to this repo. And I will be sure to merge any fixes as soon as PR's come up. But if you need someone to fix issues that affect you till I get back to this(ETA Q3 2022), One option

[2021-05-24 21:06] razorRun commented on #69
New feature requests and bug fixes
At the moment I am a bit tied up with other work. As a matter of fact, I don't get much time to develop at all nowadays. But I am more than open to help anyone who wants's to contribute to this repo. And I will be sure to merge any fixes as soon as PR's come up. But if you need someone to fix issues that affect you till I get back to this(ETA Q3 2022), One option

[2021-05-24 21:07] razorRun commented on #68
New feature requests and bug fixes
At the moment I am a bit tied up with other work. As a matter of fact, I don't get much time to develop at all nowadays. But I am more than open to help anyone who wants's to contribute to this repo. And I will be sure to merge any fixes as soon as PR's come up. But if you need someone to fix issues that affect you till I get back to this(ETA Q3 2022), One option

[2021-05-24 21:07] razorRun commented on #67
New feature requests and bug fixes
At the moment I am a bit tied up with other work. As a matter of fact, I don't get much time to develop at all nowadays. But I am more than open to help anyone who wants's to contribute to this repo. And I will be sure to merge any fixes as soon as PR's come up. But if you need someone to fix issues that affect you till I get back to this(ETA Q3 2022), One option

[2021-05-24 21:07] #67 closed

[2021-05-24 21:07] razorRun commented on #65
New feature requests and bug fixes
At the moment I am a bit tied up with other work. As a matter of fact, I don't get much time to develop at all nowadays. But I am more than open to help anyone who wants's to contribute to this repo. And I will be sure to merge any fixes as soon as PR's come up. But if you need someone to fix issues that affect you till I get back to this(ETA Q3 2022), One option

[2021-05-31 12:31] cyprianG96 opened #73 "Can't load vlcjn library: libvlcjni.so"
Hi, I have this error as below. Any ideas how to solve that? Downgrade to 1.0.17 not help(I saw last issue with same situation)

Can't load vlcjni library: java.lang.UnsatisfiedLinkError: JNI_ERR returned from JNI_OnLoad in "/data/app/com.app/lib/arm/libvlcjni.so"

[2021-06-10 11:35] eliottguillaumin opened #74 "Conflict with react-native-ffmpeg"
It seems this library overrides the FFmpeg version of the library react-native-ffmpeg.

I've tested my project back and fourth before and after installing react-native-vlc-media-player and when it's installed I encounter the following issue when running RNFFprobe on any video file on iOS:

`
Invalid data found when processing input
`

From the ressearch I've done this seems to be an FFmpeg v4.2.x

[2021-06-15 02:37] HP161 opened #76 "onBuffering in IOS"
Plesae help me!
I can't use onBuffering in IOS.
----------------------------------------
here my code:
const loadingBuff = (event) => {
        if (event.bufferRate == 100){
            setLoading(false)
        }
    };
========================
  onBuffering={loadingBuff}

[2021-06-23 02:19] kimtj12 opened #77 "Can't merge user_target_xcconfig with RN Reanimated Error"
I wanted to use rn vlc player with React Navigation and got this error below on `pod install`

`Can't merge user_target_xcconfig for pod targets: ["MobileVLCKit", "RNReanimated"]. Singular build setting CLANG_CXX_LANGUAGE_STANDARD has different values.`

Does anyone know how to fix this issue??

[2021-06-28 20:08] DevineDecrypter opened #78 "App crashes on HLS load"
whenever you give the VLCPlayer a m3u8 link , it crashes the app.
tested with both VLCPlayer And VLCPlayerView , no errors were given before crash.
tries to load then crashes , works fine with mp4.

[2021-07-09 15:00] AFMW opened #79 "Is there a way to install the library without cocoa pods?"
Hi, I'm not using Cocoa pods in my project, Is there a way to install the library without it?

I'm now using RN "0.59.10" and when I try to build the project it returns an: 'library not found for -lRCTVLCPlayer' error.

[2021-07-14 17:36] tyhour opened #80 "Streaming Video work fine, but Event in IOS not working."
I use this package for live stream, it is work fine but on IOS video always play, my live stream was stopped. Event not effects with IOS and work fine with Android. Thanks :)

[2021-07-15 02:36] tyhour commented on #80
I see in VLCPlayer.js file you push 1000 repeat why?
!`[im`age](https://user-images.githubusercontent.com/21979709/125719151-4d4c7118-ed00-456d-878e-dc44349c6ca6.png)

[2021-07-15 12:34] thuylt997 opened #81 "Preventing Local Network Privacy Permissions Alert in iOS 14"
## My Environment
* Plugin version: 1.0.29
* Platform: iOS only
* OS version: iOS 14
* Device manufacturer / model: iOS devices
* React Native version (`react-native -v`): 0.63.4

## Actual Behavior
My application on iOS devices running on iOS 14 show the Alert “[MyApp] would like to find and connect to devices on your local network” when the specific screen is loading RTSP link.

## Expected Beha

[2021-07-16 00:47] thuyducati commented on #81
@razorRun Could you help me, please?

[2021-07-16 01:01] razorRun commented on #81
Hey
I think this is managed from iOS it self if you add permissions to the
plist, it should ask once and save it. Did you request permissions that
way?

On Fri, 16 Jul 2021 at 12:48 PM, Tuong Thuy ***@***.***>
wrote:

[2021-07-16 02:33] thuyducati commented on #81
@razorRun

Yes, this behavior is managed from iOS it self but you can refer the link below. This will talk about the Local Network Privacy in iOS 14 from Apple, and its said that

Local Network Privacy: https://developer.apple.com/forums/thread/663888

As I said above, I do not add or request any permissions in Info.plist. When I am in iOS 13, there is no alert or any request for local network pri

[2021-07-18 11:49] thuyducati commented on #81
@razorRun
Excuse me, razorRun. Could you help me, please?
Our team and I are using your plugin to perform real time streaming. After we upgraded our iOS devices to iOS 14, we've got the issue above.
I hope to see your answer.
Thank you so much, razorRun!

[2021-07-18 13:48] razorRun commented on #81
Hey

I think probably this get triggered because of the VLC version. We might
have to update it … have you test using my test repo ? Because the app I
develop this plugin works on iOS to stream rtsp cameras without an issue..

On Sun, 18 Jul 2021 at 11:50 PM, Tuong Thuy ***@***.***>
wrote:

[2021-07-21 20:34] trungtin2222 opened #82 "onError onOpen is not working"
as title, i can not use this, can you explain why it not work, and how to fix, many thanks

[2021-07-23 06:32] vgaicuks commented on #77
You have to update MobileVLCKit to the 3.3.17 version. I created pull request ae39cc410db3dbcf5ca0a11ebe5c2c4d257c8204

[2021-07-27 16:49] #82 closed

[2021-07-29 10:40] SvitlanaTimofeyeva commented on #61
Hi
In case anyone needs it, I have implemented "muted" prop for ios, you can check it here
https://github.com/SvitlanaTimofeyeva/react-native-vlc-media-player

not an objective-c expert by any means, but at least it works )

[2021-08-07 06:13] bigbigqiang opened #85 "How to get frame data in real time ？"
I want to obtain the video frame data in real time, process the image, and then display it on the page. Is there a way to obtain the video frame data?
thanks

[2021-08-12 06:30] yang2968 opened #86 "Can I control the visibility of the player's controller?"
![그림1](https://user-images.githubusercontent.com/66772394/129148915-360fd337-66af-4337-8f3b-e559ae5a3ff9.png)

I want to remove the controller. However, I couldn't find anything about the visibility settings of the controller. Please help me.

[2021-08-12 07:34] #86 closed

[2021-08-25 09:03] JnNanghty opened #87 "Auto play in android api 30"
It can auto play in android api 28, but cant auto play in api 30. and load video slower than api 28.
安卓api28下可以自动播放， 但是在30中却不能， 而且在api 30中加载相比28要慢很多。

如果可以的话， 请更新一下吧！

[2021-09-02 08:22] cyril94440 commented on #55
Same issue on iOS :( Any fix?

[2021-09-02 10:26] cyril94440 commented on #17
same here

[2021-09-05 06:12] amerllica commented on #17
@cyril94440, leave this library, I created a player from scratch, you can check it on [this link](https://github.com/iran-react-community/react-native-ir-player/tree/init-vlckit-ios-swift).

I built this library from scratch without any kind of forking, I started this library by using [`@react-native-community/bob`](https://github.com/callstack/react-native-builder-bob).

But unfortunately, becaus

[2021-09-08 05:49] chenweigh opened #88 "Execution failed for task ':app:mergeDebugNativeLibs'"
### Environment
[code]

### Step
`npx react-native init project`
`yarn android` 运行成功
`yarn add react-native-vlc-media-player`
`yarn react-native link react-native-vlc-media-player`
`yarn android` 运行失败

### Error
[code]

###  Question
How to fix it ?

[2021-09-15 07:17] nazeercsco opened #89 "Autoplay={false} is not working. All videos are autoplaying at same time when autoplay={false}"

[2021-09-18 01:01] slaymantis commented on #88
See this post - https://github.com/razorRun/react-native-vlc-media-player-test/issues/3

[2021-09-28 14:34] HorbachAndrii opened #90 "Why are you disable audio session?"
When I trying record a video while playback some video.
I recorded the video without recorded the microphone.

I want to record a video while playing any kind of video in the foreground on IOS. (on android works fine)
For example.
I have 2 components on one screen:
1 - it's VLCPlayer
2 - it's Camera

What I do:
start recording video(from component Camera).
start play video(from component VLCPlayer

[2021-11-09 05:07] ntquang98 commented on #53
Hi @xralphack , Is it work when disabled bitcode?

[2021-11-10 10:06] Aries296992400 opened #91 "Does not support this format?------xx.m3u8"
http://vm2.z023.cn:7086/live/cameraid/100062%245/substream/2.m3u8
The format similar to the above can't be played all the time. Other formats can be played.

[2021-11-11 00:28] xralphack commented on #53
@ntquang98 yes

[2021-11-14 15:26] aldobel opened #92 "Native controls"
Hello everyone...thanks for this wonderful library! As the title suggests, I would like to know if there is a props that provides native controls. Thank you all

[2021-12-02 06:44] rohan3342 commented on #89
Facing the same issue.

[2021-12-11 23:54] archer56 commented on #55
I'm seeing this issue on tvOS too

[2021-12-16 07:04] onebean06 opened #94 "Could not GET 'https://dl.bintray.com/videolan/Android/com/facebook/react/react-native/maven-metadata.xml'."
recently when I install vlc media player lib in android, the android studio show the error issue:
Could not GET 'https://dl.bintray.com/videolan/Android/com/facebook/react/react-native/maven-metadata.xml'. Received status code 502 from server: Bad Gateway
it's never happened before, did anyone face the same issue ？how can I solve it？

[2021-12-16 08:40] AshishMall opened #95 "how to play local bundle path url in ios"
if I play a video from my local bundle path of a video , its not plat its show me a loader and after some time its hide ,

==== Now my question is how to play local path URL in ios

here is my code

   <VlCPlayerView
        autoplay={false}
        url={`${RNFS.MainBundlePath}/video.mp4)`}
        Orientation={Orientation}
        ggUrl={`${RNFS.MainBundlePath}/video.mp4)`}
        showGG={true}

[2021-12-21 03:38] ludashen commented on #94
use "https://mvnrepository.com/artifact/org.videolan.android" replace before address!

[2021-12-22 14:01] reubber commented on #94
it worked, thx

[2022-01-05 09:33] xiaoaren commented on #48
https://blog.csdn.net/qq_34983989/article/details/77840089

[2022-01-15 05:54] mahmedmushtaq opened #96 "Detected multiple Kotlin daemon sessions at build\kotlin\sessions"
I installed the library and when I am trying to run yarn android it throws me an error

`Task :app:mergeDebugNativeLibs FAILED
w: Detected multiple Kotlin daemon sessions at build\kotlin\sessions

Deprecated Gradle features were used in this build, making it incompatible with Gradle 7.0.
Use '--warning-mode all' to show the individual deprecation warnings.
See https://docs.gradle.org/6.8/userguide

[2022-01-27 03:59] Damithijse opened #98 "How to change video quality manually ?"
React-native 0.62.0

[2022-01-31 14:41] reubber commented on #82
if you are using vlcPlayerView component you need to replace prop func onError to onVLCError

[2022-02-03 17:06] Janak-Nirmal opened #99 "Any video on android doesn't work, straight to error"
is any body facing this ? I am using react-native : 0.66.3

[2022-02-10 10:25] yuebaiqinghui opened #100 "Can I commit some changes?"
I have changed some codes in VLCPlayerView.js SizeController.js and index.js
these changes work for adding 'onError' function in <VLCPlayerView> and fix the bug (when video playing on the Full screen mobile phone in Landscape mode,there are some blanks at the top of phone

[2022-02-16 18:24] raajjemv opened #101 "incompatible with Gradle 8.0"
<img width="1311" alt="Screen Shot 2022-02-16 at 11 13 16 PM" src="https://user-images.githubusercontent.com/36122879/154329230-fef0ac94-b195-456e-a726-b553b220abc6.png">

react-native: 0.67.2

it works perfectly with ios.

[2022-02-17 05:51] aircliff commented on #50
Looks like this issue is still happening... any updates? @TayyabaAslam3317 have a found a solution to this?

[2022-02-17 06:05] aircliff01 opened #102 "App keeps crashing on IOS simulator"
Hi I tried using the player and my app keeps on crashing everytime I try to re-render the player view. Any ideas what could be happening?

[2022-02-19 15:39] razorRun commented on #100
Sure mate. Just fork it and send PR through. 💪💪

[2022-03-09 01:51] PedroPini opened #103 "Invariant Violation: requireNativeComponent: "RCTVLCPlayer" was not found in the UIManager."
I've done the mentioned steps on README but I'm still getting this error, using expo with react native

[2022-03-11 03:30] vinhnq90 opened #104 "How to snapshot both android and ios using react-native-vlc-media-player?"

[2022-03-11 04:44] vinhnq90 commented on #104
Hi everyone, I want to take screenshot videoview when play camera. In source code, I see script below in "ReactVlcPlayerView.java" but there are no body. Who can help me please?
    public void doSnapshot(String path) {
        return;
    }

[2022-03-11 05:44] razorRun commented on #104
Hey

That player view have bit of issues that need to be fixed. And I won’t be
able to get to this for next couple of months. Maybe log a bug bounty have
a look at it your self? I will merge any pr as soon as they are available
and happy to help out anyone trying to fix things

On Fri, 11 Mar 2022 at 5:44 PM, vinhnq90 ***@***.***> wrote:

[2022-03-14 06:38] Krunal-K-SimformSolutions commented on #102
Any update?, because I have the same issue.

[2022-03-14 07:12] razorRun commented on #102
Have you tried the sample app? We use this on a app and doesn’t crash.

On Mon, 14 Mar 2022 at 7:38 PM, Krunal-K-SimformSolutions <
***@***.***> wrote:

[2022-03-14 10:08] Krunal-K-SimformSolutions commented on #102
@razorRun: Yes, it works, also try with a fresh project, and working fine but I don't know why when I am implementing my project the app crashes.

[2022-03-14 21:25] razorRun commented on #102
Are you passing the params for android and ios separately as in the sample?
what about bit encoding on ios? Try on a real device ?

On Mon, Mar 14, 2022 at 11:09 PM Krunal-K-SimformSolutions <
***@***.***> wrote:

[2022-03-22 06:13] pandiarajanvp opened #105 "IOS Buffering data issue"
On IOS onBuffering data its return only {"target": 13099} ,How to get buffer is completed or not

[2022-03-22 06:17] pandiarajanvp opened #106 "How to cancel Buffering process ?"
I am trying to load videos in flatlist , on a scroll the video I enable the video pause function, In Some videos while it's under buffering process pause function not yet working . After completing buffering its plays both video, previous buffering, and current view video

[2022-04-07 11:39] priyankagupta23pg opened #107 "Apple store team rejected app due to Deprecated UIWebView API usage"
On publishing the application on app store using this library, App store team rejected app with below message. Please suggest someone---

**ITMS-90809: Deprecated API usage**
New apps that use UIWebview are no longer accepted. Instead, use WKWebView for improved security & reliability

I am using the latest version-
 "react-native-vlc-media-player": "^1.0.40",

[2022-04-08 04:09] Z1hgq commented on #96
same error

[2022-04-08 16:14] inglesuniversal opened #108 "General Question / Feature Request: Would this script work on EXPO out of the box?"
Target devices: iOS & Android Platforms

Best regards

[2022-04-26 12:53] youcci commented on #101
Any Updates on that?
My App works on iOS but Android is not working at all

[2022-05-09 13:28] endrits079 opened #110 "Build fails on android"
When running npm run android the build fails with the message:

A problem occurred evaluating project ':react-native-vlc-media-player'.

* Where:
Build file 'path-to-project/node_modules/react-native-vlc-media-player/android/build.gradle' line: 32.

versions:
react native: 0.66.4
react-native-vlc-media-player: ^1.0.40

[2022-05-09 14:47] endrits079 commented on #110
The problem was gradle version was using 7.0.1 changed to 4.2.2

[2022-05-09 14:47] #110 closed

[2022-05-09 15:42] viaDPBell commented on #110
I also faced the same problem.
did you solve this problem?

[2022-05-09 15:52] endrits079 opened #111 "Cannot make video fill the whole screen?"
There is black space left on top and bottom of the screen, I want to make the video fill the entire screen this is the styles that I applied
{
    position: 'absolute',
    top: 0,
    left: 0,
    right: 0,
    bottom: 0,
    width: deviceWidth,
    height: deviceHeight,
    zIndex: -1,
  }

  and  tried all the options for resizeMode but none worked

[2022-05-09 20:47] endrits079 commented on #110
yes, by downgrading gradle version to 4.2.2 (because I was on version 7) and then open project with android studio, and do gradle sync after clean the project and it should be working

[2022-05-13 07:30] Hull95 opened #112 "A problem occurred evaluating project ':react-native-vlc-media-player'."
A problem occurred evaluating project ':react-native-vlc-media-player'.

react-native version is 0.68.1

[2022-05-26 03:01] StevenGardnerGMJ opened #113 "PackageAndroidArtifact$IncrementalSplitterRunnable"
Andriod  build error

[code]

[2022-05-26 05:58] StevenGardnerGMJ opened #114 "java.lang.OutOfMemoryError (no error message)"
Any idea ?

[code]

[2022-05-26 07:59] razorRun commented on #113
Try adding the params on test repo. Looks like OS killing the app

On Thu, 26 May 2022 at 3:01 PM, Steven Gardner ***@***.***>
wrote:

[2022-06-03 11:02] IndrakumarR commented on #112
Same issue for me also

[2022-06-09 13:12] r3dm4n commented on #96
Same error for me ...

[2022-06-13 11:47] ZhminkoRoman commented on #105
The same =(

[2022-06-29 05:16] shashank-prajapati opened #117 "Error for ViewTypeProps while using in react-native:0.69"
While using react-native-vlc-media-player with react-native:0.69 getting the following error:

Invariant Violation: ViewPropTypes has been removed from React Native. Migrate to ViewPropTypes exported from 'deprecated-react-native-prop-types'

[2022-07-09 15:24] PragathiPrabhu commented on #117
Facing the same error with react native :0.69.1

[2022-07-17 05:21] nguyenhuynhdeveloper opened #118 "Cannot read properties of undefined (reading 'VlCPlayerView')"
Cannot read properties of undefined (reading 'VlCPlayerView')

i  have issue, can help me

[2022-07-18 21:07] Iheb-miled commented on #117
same problem with react native :0.69.1

[2022-07-20 04:17] Vanlong472126 opened #120 "error android not play H.264/MPEG-4 AVC, H.265/MPEG HEVC"

[2022-07-26 21:33] AlexanderKidd opened #121 "Support for the experimental syntax 'jsx' isn't currently enabled"
When I add this module to my react project, it gives me this error:

**...\playerView\index.js** for the <View/> tag.

`Support for the experimental syntax 'jsx' isn't currently enabled (231:7):`

Is it possible to get a transpiled version of this as a node module or do I have to try to eject my create-react-app and manually figure out the @babel/presets-react configuration?

[2022-08-03 12:31] byferro commented on #120
Hi, did you fix it? I also try to H.265/MPEG player but it doesn't work.

[2022-08-05 16:33] deccosantos commented on #117
Hi, have you solve this problem? I'm facing the same problem... I tried to update all to deprecated viewPropType but still getting same error...

[2022-08-07 02:56] CrhistianDLM commented on #112
Me too

[2022-08-16 19:49] aivct commented on #117
Going through the stacktrace, it looks like the problem is an errant import statement in playerView/ControlBtn.js
Commenting it out as such at least fixes that error. I'll pull changes upstream once I understand it better.
`//import Slider from 'react-native-slider';`
And here's the kicker: the import isn't even being used.

[2022-08-17 13:51] deccosantos commented on #117
wow this solved my problem... thanks

[2022-08-18 15:43] aivct opened #122 "Blank screen upon loading any video file"
### Steps to Reproduce
1. Download razorRun's [test repo](https://github.com/razorRun/react-native-vlc-media-player-test)
2. Run `npm i` and `npx react-native run-android`

### Expected Behaviour
A video file ought to play.
See https://www.wowza.com/developer/rtsp-stream-test
### Result
There are no logs either from the developer console or from node.js

![image](https://user-images.githubusercont

[2022-08-19 08:18] mayankpandav opened #123 "how to set playbackrate"
as per documentation im trying rate but its not working any hint]
@razorRun

[2022-09-06 13:00] mechazod opened #125 "[iOS] - No visible @interface for 'VLCMedia' declares the selector 'addOption'"
Used version 1.0.34 - latest

Has this issue:
<img width="1662" alt="Screen Shot 2022-09-06 at 8 59 49 PM" src="https://user-images.githubusercontent.com/16739905/188641666-7e62038e-a528-4492-99c2-6ebfdd34cff4.png">

Root cause:
https://github.com/razorRun/react-native-vlc-media-player/blob/master/ios/RCTVLCPlayer/RCTVLCPlayer.m#L106

[2022-09-11 17:06] KishorJena opened #127 "Failed to transform android.jar"
[code]
I just created clean rn project and installed this vlc module but it gives error.

[2022-09-13 18:47] CrackerKSR commented on #117
[code]

I tried this but still same error.

[2022-09-14 04:39] lackeluck commented on #42
on IOS,
I have same problem. I founded, In my case, xcode will throw error EXC BAD ACCESS while video uri  is "null" or undefined.
I set uri to state and default value is "abcxyzxxxx" :))

[2022-09-20 10:20] jhanzaibkhadim199 commented on #8
Any update on this ?
I need to send a header referer to play video unable to do this.
Any help will be appreciated.

[2022-09-20 10:33] jhanzaibkhadim199 opened #128 "Header Support in video source"
I need to send a header referer to play video unable to do this.
Any help will be appreciated. TIA.

[2022-09-24 13:32] Thommee commented on #98
You can try "adaptive-logic" option in initOptions. It gives you an ability to select strategy for adaptive quality.
`--adaptive-logic={,predictive,nearoptimal,rate,fixedrate,lowest,highest} `

https://wiki.videolan.org/VLC_command-line_help

[2022-09-28 19:46] #52 closed

[2022-10-14 12:18] hemantzarkar opened #129 "onPlaying callback is not working"
I am using this library to play **RTSP** video streams on my mobile application. My **VLC Player** component code is given below,

`<VlCPlayerView
                    autoplay={true}
                    url={this.state.obj.videoUrl}
                    showGG={false}
                    showTitle={false}
                    showBack={false}
                    showControls={true}

[2022-11-05 08:42] BlakeB415 opened #131 "Project Status?"
It's past Q3 of 2023 and there's not much activity going on. There's several breaking bugs that cause the module to be unusable and there's not many alternative libraries. Any info on whether this is being worked on or planned to be?

[2022-11-09 20:46] endrits079 commented on #129
none of the callbacks are working for me, do other callbacks work for you? like onBuffering, onPaused, onEnded

[2022-11-12 23:49] jerikthompson commented on #55
Following, same issue

[2022-11-13 08:46] mousumi88 opened #132 "TypeError: undefined is not an object (evaluating '_reactNative.Image.propTypes.source')"
Hi I am facing the following error after installing react-native-vlc-media-player. My react native version is "react-native": "0.69.2".
App has not been started due to this error. The complete error message is :

`ERROR  TypeError: undefined is not an object (evaluating '_reactNative.Image.propTypes.source')`
 `ERROR  Invariant Violation: Module AppRegistry is not a registered callable module (cal

[2022-11-17 02:54] JYFlows commented on #118
me too
did you solve it ？

[2022-11-21 08:36] Yami01 commented on #132
I'm facing the same issue :(

[2022-11-24 01:50] inmess opened #133 "[Error]"RCTVLCPlayer" was not found in the UIManager."
## Error: Invariant Violation: requireNativeComponent: "RCTVLCPlayer" was not found in the UIManager.

![截屏2022-11-24 09 35 19](https://user-images.githubusercontent.com/48652450/203674685-db8c7384-2293-4aa6-8908-9ecc09cc23b1.png)
![截屏2022-11-24 09 39 22](https://user-images.githubusercontent.com/48652450/203675088-ed0c60e3-d875-4533-bd6f-35de8b46bece.png)

The code is a simple react native test p

[2022-11-24 02:03] inmess commented on #117
You actually need to remove the dependency of 'react-native-slider' in package.json to prevent installing it.

[2022-11-24 09:28] aitoncumbi opened #134 "Any idea whats going on? I can't build the app at all"
error Failed to install the app. Make sure you have the Android development environment set up: https://reactnative.dev/docs/environment-setup.
Error: Command failed: gradlew.bat app:installDebug -PreactNativeDevServerPort=8081

FAILURE: Build completed with 2 failures.

1: Task failed with an exception.
-----------
* What went wrong:
Execution failed for task ':app:mergeDebugNativeLibs'.

      -

[2022-11-25 01:24] inmess commented on #133
This issue is solved. if a newer version of React Native is used in your project and met this problem, you probably need to firstly prebuild the project to get /ios and /android directories in your project. In this situation, I suppose `npx expo run:[ios|android]` is needed, cuz I never succeeded with `yarn start`.
- Plus: You don't have to worry about `react-native link ...` anymore, I just use `